<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../partials/header.ejs %>
    <title>UDOO - Network configuration</title>
    <script>
        var URL_PATH = '<%= server_url %>';
    </script>
</head>

<body>
<%- include ../partials/top.ejs %>

<div class="row">
    <div class="col-lg-12">
        <div>
            <p class="title_sections1">IoT PANEL</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="internet-alert" class="alert alert-warning hidden">
            <b> <i class="fa fa-warning"></i> You don't have any internet connection on your UDOO Board.</b>
        </div>

        <div id="register-alert" class="alert alert-warning hidden">
            <b> <i class="fa fa-warning"></i> Unregistered Board!</b> Click <a id="iot-start-login" class="alert-link"
                                                                               href="#"> here </a>to register your
            board.
        </div>

        <div id="register-done-alert" class="alert alert-success hidden">
            <b>Board Connected to the UDOO IoT Service!</b> Now click <a class="alert-link"
                                                                         href="<%= server_url %>/login" target="_blank">
                here </a>to manage your board(s).
        </div>

        <div id="iot-install-alert" class="alert alert-warning hidden">
            <b>Package not installed!</b> <br> Please open a terminal in the board or the
            <a id="remote-terminal" target="_blank">dashboard remote terminal</a>
            and launch the following commands:<br>
            <pre>sudo apt update <br>sudo apt install -y udoo-iot-cloud-client</pre>
            If you are using the remote terminal <b> DO NOT LAUNCH</b> 'sudo apt upgrade' it could corrupt the udoo web confing package.
        </div>
    </div>
</div>
<div class="row hidden" id="code-panel">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="modal-title">Insert your grant code</h4>
            </div>
            <form id="code-form" class="form-horizontal">
                <div class="panel-body">

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input id="codes" type="text" class="form-control" name="codes">
                        </div>

                    </div>
                    <p>Once you have inserted the code, the IoT service will start automatically.</p>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <button id="btn-save-grant-code" type="submit" class="btn btn-default">Save</button>

                        </div>
                        <div class="col-sm-8 text-right ">
                            <a class="btn btn-link" id="iot-external-link">Reopen register page</a>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row" id="iot-status-panel">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-yellow" id="internet-panel">
            <div class="panel-heading">
                <p class="dashtitles">Board Internet Status</p>
                <div class="row">
                    <div class="col-xs-3">
                        <i id="internet-icon" class="fa fa-warning fa-4x"></i>
                    </div>
                    <div id="internet-text" class="col-xs-9 text-center">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-info" id="client-status">
            <div class="panel-heading">
                <p class="dashtitles">IoT Client</p>
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-exchange fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <!--<div id="iotstatus">&nbsp;</div>-->
                        <div class="huge">
                            <div id="toggle-iot-div"
                                 class="bootstrap-switch-on bootstrap-switch-id-switch-state bootstrap-switch-wrapper bootstrap-switch-animate">
                                <input id="toggle-iot" type="checkbox" data-on-color="success" data-off-color="danger"
                                       checked="checked"/>
                            </div>
                        </div>
                        <div id="btn-iot-install" class="hidden text-uppercase text-left text-center text-bold">Package <br> Not Installed</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-gray" id="gateway-status" style="min-height: 130px">
            <div class="panel-heading">
                <p class="dashtitles">Gateway Status</p>
                    <div class="row">
                        <div class="col-xs-5 text-bold">Board Id:</div>
                        <div class="col-xs-7 text-uppercase"><%= boardId %></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 text-bold">Service Status:</div>
                        <div class="col-xs-6" id="service-status"></div>
                    </div>
                </div>
        </div>
    </div>

</div>

<br>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-terminal fa-fw"></i> <b>UDOO IoT CLOUD CLIENT LOG</b>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" id="btn-log-collapse" class="btn btn-default btn-xs"
                                aria-expanded="false">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body panel-collapse collapse" id="log-collapse">
        <textarea id="log-iot" class="log-iot" rows="20"
                  cols="100"></textarea>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>

<%- include ../partials/bottom.ejs %>
<script type='text/javascript' src='/socket.io/socket.io.js'></script>
<script type="text/javascript" src="/js/settings-iot.js"></script>
<link href="/layout/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
<script src="/layout/bootstrap-switch/js/bootstrap-switch.min.js"></script>

</body>
</html>
